@import '../../theme';
@import './Common.module.scss';

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
    width: 100%;
}

.tabContent {
    display: flex;
    flex-direction: column;
}

.row {
    text-align: center;
    justify-content: center;
}

.title {
    max-width: 500px;
    font-size: 45px;
}

.productLink {
    position: absolute;
    margin-top: 20%;
    color: $primary;
    font-size: 18px;
    &:hover{
        transform: translateY(-2px);
        font-size: 19px;
        font-weight: bold;
        cursor: pointer;
    }
}

.iconList {
    position: absolute;
    // transform: translateY(40px);
    margin-top: 40%;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    width: 200px;
    font-size: 26px;
    color: $gray;

    li:hover {
        color: $lighter-gray;
        cursor: pointer;
        transform: translateY(-2px);
    }
}

.backgroundLogo {
    z-index: -1;
    position: absolute;
    margin: auto;
    color: $lighter-gray;
    opacity: 0.5;
    font-size: 250px;
}