@import '../../theme';

.menu {
    position: fixed;
    top: 50%;
    right: 20px;
}

.menuItems {
    list-style-type: none;
    text-align: center;
    color: $lighter-gray;
    font-size: 20px;

    li {
        padding: 10px;

        &:hover {
            cursor: pointer;
            transform: translateY(-2px);
        }

        &.active{
            font-size: 25px;
            color: $gray;
        }
    }
}
