@import '../../theme';

.menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    right: 0;
    width: 100px;
    height: 100%;
}

.menuItems {
    list-style-type: none;
    text-align: center;
    justify-content: center;
    align-content: center;
    color: $lighter-gray;
    font-size: 20px;

    li {
        padding: 10px;

        &:hover {
            cursor: pointer;
            transform: translateY(-2px);
        }

        &.active{
            font-size: 25px;
            color: $gray;
        }
    }
}
