@import '../../theme';
@import './Common.module.scss';

.phoneImgContainer{
    text-align: center;
    max-width: 500px;
    width: auto;
    margin-right: 50px;
}

.phoneImg {
    width: 300px;
}

.frontBackImg{
    margin: 10px;
    padding-bottom: 20px;
    &:hover{
        cursor: pointer;
    }
}

.leftActiveImgIndicator{
    width: 100%;
    height: 10px;
    margin: 0 0 20px 40px;
    background-color: $lightest-gray;

    &.active{
        background-color: $red;
    }
}

.rightActiveImgIndicator{
    width: 100%;
    height: 10px;
    margin: 0 40px 20px 0;
    background-color: $lightest-gray;

    &.active{
        background-color: $red;
    }
}