$primary-color: #5AC8FA;
$gray-color: #707070;
$dark-color: #000000;
$light-color: #FFFFFF;

.row {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.homeHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100px;
}

.headerLogoWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $dark-color;
    min-width: 50px;
    height: 100%;
}

.headerLogo{
    color: $light-color;
}

.nav {
    display: flex;
    height: 100%;
    margin: 0 25px 0 0;
    padding: 0;
    width: auto;
}

.navItem {
    list-style-type: none;
    color: $gray-color;
    margin: 10px;
    width: 120px;
    text-align: center;
    font-size: 18px;
    align-self: center;
}

.navItem:hover {
    font-weight: bold;
    cursor: pointer;
}

.notifyBtn {
    padding: 10px;
    width: 120px;
    border: none;
    border-radius: 60px;
    background-color: $primary-color;
    color: $light-color;
    font-size: 18px;
    font-weight: bold;
    &:hover {
        padding: 12px;
        text-decoration: underline;
        cursor: pointer;
    }
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
    width: 100%;
    background: transparent linear-gradient(90deg, #F2F2F2 0%, #FFFFFF00 100%) 0% 0% no-repeat padding-box;
}

.subContent {
    display: flex;
    flex-direction: column;
}

.leftPanel {
    position: absolute;
    top: 100px;
    left: 0;
    bottom: 0;
    width: 100px;
    background-color: $light-color;
}

.backgroundLogo {
    z-index: -1;
    position: absolute;
    color: #CCCCCC;
    font-size: 200px;
}

.title {
    font-weight: bold;
    font-size: 50px;
}

.productLink {
    color: $primary-color;
    &:hover{
        font-weight: bold;
        cursor: pointer;
    }
}

.iconList {
    transform: translateY(50px);
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    width: 200px;
    font-size: 26px;
    color: $gray-color;

    li:hover {
        color: #CCCCCC;
        cursor: pointer;
    }
}

/* Media query for screens that are 699px or less */
@media screen and (max-width: 699px) {
    .homeHeader{
        height: 60px;
    }

    .nav {
        margin: 0 55px 0 0;
    }

    .navItem {
        width: 50px;
        font-size: 18px;
    }

    .navItem:hover {
        font-size: 20px;
        cursor: pointer;
    }

    .notifyBtn {
        width: 100px;
        font-size: 14px;
    }

    .leftPanel {
        display: none;
    }
}

/* Media query for screens that are 399px or less */
@media screen and (max-width: 399px) {
    .headerLogoWrapper{
        display: none;
    }
    .nav {
        margin: 0;
    }
}

// Animations
@keyframes shrinkLeft {
    from {
      width: 100%;
    }
    to {
      width: 100px;
    }
}

@keyframes flyInRight {
    from {
        width: 0;
        transform: translateX(1000px);
    }
    to {
        transform: translateX(0);
        width: auto;
    }
}

.shrinkLeft {
    animation-name: shrinkLeft;
    -webkit-animation-name: shrinkLeft;
}

.flyInRight {
    animation-name: flyInRight;
    -webkit-animation-name: flyInRight;
}