$primary: #5AC8FA;
$gray: #707070;
$dark: #000000;
$white: #FFFFFF;

.tabContainer{
    height: 100%;
    margin-left: 100px;
}

.homeHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100px;
}

.headerLogoWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $dark;
    min-width: 50px;
    height: 100%;

    &:hover {
        cursor: pointer;
    }
}

.headerLogo{
    color: $white;
}

.nav {
    display: flex;
    height: 100%;
    margin: 0 25px 0 0;
    padding: 0;
    width: auto;
}

.navItem {
    list-style-type: none;
    color: $gray;
    margin: 10px;
    width: 120px;
    text-align: center;
    font-size: 18px;
    align-self: center;

    &:hover{
        font-weight: bold;
        cursor: pointer;
    }

}

.active{
    font-weight: bold;
}

.notifyBtn {
    padding: 10px;
    width: 120px;
    border: none;
    border-radius: 60px;
    background-color: $primary;
    color: $white;
    font-size: 18px;
    font-weight: bold;
    &:hover {
        padding: 12px;
        text-decoration: underline;
        cursor: pointer;
    }
}

.leftPanel {
    position: absolute;
    top: 100px;
    left: 0;
    bottom: 0;
    width: 100px;
    background-color: $white;
}


/* Media query for screens that are 699px or less */
@media screen and (max-width: 699px) {
    .homeHeader{
        height: 60px;
    }

    .nav {
        margin: 0 55px 0 0;
    }

    .navItem {
        width: 50px;
        font-size: 18px;
    }

    .navItem:hover {
        font-size: 20px;
        cursor: pointer;
    }

    .notifyBtn {
        width: 100px;
        font-size: 14px;
    }

    .leftPanel {
        display: none;
    }

    .tabContainer{
        margin-left: 0;
    }
    
}

/* Media query for screens that are 399px or less */
@media screen and (max-width: 399px) {
    .headerLogoWrapper{
        display: none;
    }
    .nav {
        margin: 0;
    }
}

// Animations
@keyframes shrinkLeft {
    from {
      width: 100%;
    }
    to {
      width: 100px;
    }
}

@keyframes flyInRight {
    from {
        width: 0;
        transform: translateX(1000px);
    }
    to {
        transform: translateX(0);
        width: auto;
    }
}

.shrinkLeft {
    animation-name: shrinkLeft;
    -webkit-animation-name: shrinkLeft;
}

.flyInRight {
    animation-name: flyInRight;
    -webkit-animation-name: flyInRight;
}