.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.homeHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100px;
}

.headerLogoWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    height: 100%;
    
}

.headerLogo{
    color: #FFFFFF;
}

.nav {
    display: flex;
    height: 100%;
    padding: 0;
    margin: 0;
}

.navItem {
    list-style-type: none;
    color: #707070;
    margin: 10px;
    width: 120px;
    text-align: center;
    font-size: 18px;
    align-self: center;
}

.navItem:hover {
    font-weight: bold;
}

.notifyBtn {
    padding: 10px;
    width: 120px;
    border: none;
    border-radius: 60px;
    background-color: #5AC8FA;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
}
.notifyBtn:hover {
    padding: 12px;
    text-decoration: underline;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
    width: 100%;
    background: transparent linear-gradient(90deg, #F2F2F2 0%, #FFFFFF00 100%) 0% 0% no-repeat padding-box;
}

.subContent {
    display: flex;
    flex-direction: column;
}

.leftPanel {
    position: absolute;
    top: 100px;
    left: 0;
    bottom: 0;
    width: 100px;
    background-color: #FFFFFF;
}

.backgroundLogo {
    z-index: -1;
    position: absolute;
    color: #CCCCCC;
    font-size: 200px;
}

.title {
    font-weight: bold;
    font-size: 50px;
}

.iconList {
    list-style-type: none;
    display: flex;
}

// Animations
@keyframes shrinkLeft {
    from {
      width: 100%;
    }
    to {
      width: 100px;
    }
}

@keyframes flyInRight {
    from {
        width: 0;
        transform: translateX(1000px);
    }
    to {
        transform: translateX(0);
        width: auto;
    }
}

.shrinkLeft {
    animation-name: shrinkLeft;
    -webkit-animation-name: shrinkLeft;
}

.flyInRight {
    animation-name: flyInRight;
    -webkit-animation-name: flyInRight;
}