@import '../theme';

.modalWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal {
    margin-top: 10%;
    width: 400px;
    height: 400px;
    background: $white 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px $lighter-gray;
    border: 1px solid $lightest-gray;
    padding: 10px 40px 50px 40px;
}

// /* Media query for screens that are 500px or less */
// @media screen and (max-width: 500px) {
//     .modal {
//       width: 250px;
//     }
// }

// /* Media query for screens that are 400px or less */
// @media screen and (max-width: 400px) {
//     .modal {
//       width: 200px;
//     }
// }

.message {
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
}

.errorMessage {
    color: $red;
}

.successMessage {
    color: $primary;
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
}

.subText {
    font-size: 14px;
}

.signUpFooter {
    text-align: left;
    transform: translate(-10%, 20px);

}

.signInFooter {
    text-align: right;
    transform: translate(10%, 100px);
}

.buttonLink{
    border: none;
    background: none;
    text-decoration: underline;
    color:  $primary;
}