.modalWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: transparent linear-gradient(180deg, #5AC8FA 0%, #FFFFFF00 80%);
}

// Targeted Class from Card Flip Library
.test {
    margin-top: 10%;
    max-width: 400px;
    height: 320px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #CCCCCC;
    border: 1px solid #F2F2F2;
    opacity: 1;
    padding: 50px;
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
}

.subText {
    font-size: 14px;
}

.signUpFooter {
    transform: translate(-50px, 20px);

}

.signInFooter {
    text-align: right;
    transform: translate(50px, 20px);
}

.buttonLink{
    border: none;
    background: none;
    text-decoration: underline;
    color:  #5AC8FA;
}