@import url('https://fonts.googleapis.com/css?family=Poppins');
@import './theme';

html {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

body {
  overflow-x: hidden;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.primaryGradient {
  background: transparent linear-gradient(180deg, $primary 0%, #FFFFFF00 80%);
}

.grayGradient {
  background: transparent linear-gradient(90deg, $lightest-gray 0%, #FFFFFF00 100%) 0% 0% no-repeat padding-box;
}


/* Reusable Animations */
@keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0);
      opacity: 0;
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1;
  }
}

@keyframes fadeOut {
  from {opacity: 1}
  to {opacity: 0}
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both
}

.fadeOut {
  animation-name: fadeOut;
  -webkit-animation-name: fadeOut;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

.animationDelay {
  animation-delay: 0.5s;
}


